body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

h1 {
    background-color: blue;
    color: #ffffff;
    padding: 30px;
    border-radius: 50px;
    text-shadow: 2px 3px 15px rgba(5, 5, 5, 20);
}
h2 {
    background-color: #00c3ff;
    color: #ffffff;
    padding: 15px;
    border-radius: 50px;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 10);
}

a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a:visited {
    color: #546780; 
}
a:active {
    color: red; 
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    padding: 10px;
    border-left: 5px solid #00bcd4;
}
